*{
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
header{
 
    height: 104px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

header img{
    margin-left: 122px;
    margin-top: 26px;
}

 header .nav-bar {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    float: right;
    color: #000000

    
}

.nav-bar ul li{
    display: inline-block;
    padding-left: 13px;
    margin-top: 20px;
    margin-right: 35px
}

#btn-login{
    margin-right: 45px;
    width: 168px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}



.section1{
    
    margin-left: 122px;
    margin-top: 123px;
    
}

.section-text , .section-image{
    display: inline-block;
}

.section-text{
    margin-left: 122px;
    margin-top: 10px;
}
.section-text h1{
    width: 604px;
    height: 140px;


    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 75px;

    color: #000000;
}

.section-text h3{
    
font-style: normal;

font-weight: bold;
font-size: 30px;
line-height: 45px;

color: #000000;
width: 335px;
height: 43px;
}

.section-text p{
    width: 543px;
    height: 43px;

    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 28px;

    color: #000000;
  
}
.section-image{
    
    margin-top: 35px;
    padding-left: 15px;
}

.btn-cadastro{
    width: 223px;
    height: 56px;
    left: 123px;
    top: 501px;

    background: #700C0C;
    border-color: #700C0C;
    border-radius: 10px;
    color: #FFFFFF;

    border-width: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;
}
.btn-cadastro:hover{
    background-color: #906060;
    color: #FFFFFF;
}

.btn-white{
    width: 223px;
    height: 56px;
   
    
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    
    color: #000000;
}


.main h1{
    width: 923px;
height: 88px;
padding-top: 88px;
    font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 45px;
text-align: center;
margin: 0 auto;

color: #000000;
}

.items{
    margin-top: 100px;
    margin-left: 80px;
    display: flex; 
    justify-content: center;
    margin-left: 20px;
    
    
    
}

.item1{
    width: 300px;
    height: 199px;
    left: 121px;
    top: 902px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 40px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    text-align: center;

    color: #700C0C;
}

.item2{
    width: 300px;
    height: 199px;
    left: 121px;
    top: 902px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    text-align: center;

    color: #700C0C;
}

.item3{ 
    width: 300px;
    height: 199px;
    left: 121px;
    top: 902px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 40px;   
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    text-align: center;

    color: #700C0C;
}